<%= turbo_frame_tag todo do %>
  <div class="row py-2 border-top">
    <div class="col-2 my-auto">
      <%= check_box_tag 'complete', todo.id, todo.complete,
          data: { action: "change->todo#toggle_complete",
                  todo_id: todo.id,
                  remote: true }, class: "form-check-input", id: "todo_complete_#{todo.id}" %>
    </div>
    <div class="col-3 my-auto">
      <%= todo.title %>
    </div>
    <div class="col-3 my-auto">
      <%= todo.content %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%= link_to "編集", edit_todo_path(todo), class: "btn btn-sm btn-outline-primary me-2" %>
        <%= button_to "削除", todo, method: :delete, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>
<% end %>
